.lb-container {
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

.lb-row  {
    display: table-row;
    width: 100%;
}

.lb-left, .lb-right {
    display: table-cell;
    width: 50%;
}

.lb-left {
    padding-right: 15px;
}

.lb-right {
    padding-left: 15px;
}

.lb-well-white {
    background-color: #FFFFFF;
    padding: 15px;
}

.lb-well-dirty-white {
    background-color: #dddddd;
    padding: 15px;
}

#mapCanvas {
    width: 100%;
    height: 400px;
}

.pull-right {
    float: right;
}

.toplevel_page_logbook #TB_window {
    min-width:1300px !important;
    margin-left: -610px !important;
    z-index: 100 !important;
    height: auto !important;
}

#TB_overlay {
    z-index: 100 !important;
}

.toplevel_page_logbook #TB_ajaxContent {
    min-width: 1270px;
    height: auto !important;
}

.text-center {
    text-align: center;
}